<h2>お気に入り一覧</h2>
<div class="container">
<table class = "table table-condensed">
    <% @favorites.each do |favorite| %>
        <tr>
            <td class = "info"><%= favorite.topick.content %></td>
        </tr>
        <% end %>
        </table>
        <%= link_to '掲示板一覧画面に戻る', topicks_path %>
        </div>