<div class="container">

    <section class="main-header">
        <img src="app\assets\images\images.png" alt="">
    </section>

    <%= image_tag "/FLOATING.jpg" %>

<h3>あなたの感情を様々な風船に乗せて思いを届けましょう！</h3>
<h3>ログイン後に投稿一覧に行くことで、あなたの普段のお悩みをみんなに相談することが出来ます。</h3>
<h3>さぁいくぞ🎈</h3>
</div>
