<h1>ブログ一覧</h1>
<table>
    <tr>
        <th>タイトル</th>
        <th>内容</th>
    </tr>
    <% @user.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.image %></td>
    </tr>
    <% end %>
</table>

<%= link_to 'プロフィール画面に戻る', users_path %>
<%= link_to 'マイページ編集画面に行く', new_user_path %>